<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= user.password_digest %>
  </p>

</div>
<p>Тут должно быть: Имя юзера, дата регистрации, кнопка на изменение(или тут же), удаление юзера, кнопка на главную</p>